---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
// Icons
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";

// Content
const { title, excerpt, pubDate, bgColor, url } = {
  url: "/changelog/" + Astro.props.entry.slug,
  title: Astro.props.entry.data.title,
  bgColor: Astro.props.entry.data.bgColor || "bg-accent-600",
  excerpt: Astro.props.entry.excerpt || "",
  pubDate: new Date(Astro.props.entry.data.date).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};
---

<article
  class="relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 overflow-hidden"
>
  <div
    class="flex flex-col h-full justify-between p-8 bg-beige-dark dark:bg-base-900"
  >
    <div class="text-balance">
      <Text tag="p" variant="textXS" class="text-base-500">
        {pubDate}
      </Text>
      <Text
        tag="h3"
        variant="textXL"
        class="text-base-900 dark:text-beige mt-8 font-semibold font-display tracking-tight"
      >
        {title}
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="text-base-600 dark:text-base-400 mt-2 line-clamp-3"
      >
        {excerpt}
      </Text>
    </div>
    <Button
      size="xs"
      variant="oxbowMuted"
      href={url}
      default
      isLink={true}
      title={`Read changelog: ${title}`}
      aria-label={`Read changelog: ${title}`}
      class="mt-8 size-fit"
    >
      <ChevronRight slot="right-icon" size="sm" />
    </Button>
  </div>
  <div
    class={`aspect-12/4 lg:aspect-12/8 p-4 -my-px lg:col-span-2 w-full ${bgColor} h-full`}
  >
  </div>
</article>
