---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";

import NinjaScript from "@/components/commandBar/NinjaScript.astro";
import CommandBar from "../components/CommandBar";
import CopyButton from "@/components/documentation/CopyButton.astro";

const siteUrl = (Astro.site && Astro.site.toString()) || "https://oxbowui.com";
const canonicalUrl = new URL(
  Astro.url.pathname,
  Astro.site ?? siteUrl
).toString();
const privatePaths = [
  /^\/404$/,
  /^\/login(\b|\/)/,
  /^\/login-password(\b|\/)/,
  /^\/email-signin(\b|\/)/,
  /^\/thankyou(\b|\/)/,
  /^\/webhooks\//,
  /^\/api\//,
  /^\/iframe\//,
];
const defaultNoindex = privatePaths.some((rx) => rx.test(Astro.url.pathname));
// Optional per-page SEO overrides
interface HeadOverrides {
  title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  structuredData?: any | any[];
}
const {
  title,
  description,
  image,
  noindex,
  structuredData,
  hideNav = false,
  hideFooter = false,
}: HeadOverrides & { hideNav?: boolean; hideFooter?: boolean } = (Astro.props ??
  {}) as any;

// Check if we're on a documentation page
const isDocsPage = Astro.url.pathname.startsWith("/documentation");
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      pathname={Astro.url.pathname}
      canonicalUrl={canonicalUrl}
      siteUrl={siteUrl}
      title={title}
      description={description}
      image={image}
      noindex={noindex ?? defaultNoindex}
      structuredData={structuredData}
    />
  </head>
  <body class="bg-white dark:bg-base-950 min-h-screen flex flex-col">
    {!hideNav && <Navigation />}
    <main
      class:list={["grow w-full mx-auto", { "py-26 lg:py-23": !isDocsPage }]}
    >
      <slot />
    </main>
    {!hideFooter && <Footer />}
    <CommandBar client:only="react" />
    <CopyButton targetSelector="pre" />
  </body>
</html>
